$num-city-images: 15;

@mixin store-list {
  @for $i from 1 through $num-store-elements {
    $start-image: random($num-city-images);
    $start-size: percentage((random(30) + 70) / 100);

    .store#{$i} {
      background-image: url("./../img/city#{$start-image}.png");
      background-size: 100% $start-size;
      filter: saturate(0.75) brightness(0.9) contrast(2) grayscale(70%);
      // animation: store-shift#{$i} (random(40)+20)+s infinite;

      &:hover {
        filter: saturate(1.25) brightness(0.9) contrast(2) grayscale(30%);
      }

    }

    @keyframes store-shift#{$i} {
      0% {
        background-image: url("./../img/city#{$start-image}.png");
        background-size: 100% $start-size;
      }

      20% {
        background-image: url("./../img/city#{random($num-city-images)}.png");
        background-size: 100% percentage((random(30) + 70) / 100);
      }

      40% {
        background-image: url("./../img/city#{random($num-city-images)}.png");
        background-size: 100% percentage((random(30) + 70) / 100);
      }

      60% {
        background-image: url("./../img/city#{random($num-city-images)}.png");
        background-size: 100% percentage((random(30) + 70) / 100);
      }

      80% {
        background-image: url("./../img/city#{random($num-city-images)}.png");
        background-size: 100% percentage((random(30) + 70) / 100);
      }

      100% {
        background-image: url("./../img/city#{$start-image}.png");
        background-size: 100% $start-size;
      }
    }
  }
}