@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Fredoka+One&family=Major+Mono+Display&family=Righteous&family=Unbounded:wght@900&display=swap');

body {
  font-family: 'Unbounded', cursive;
}

svg.css {
  font-family: 'Chakra Petch', sans-serif;
  // font-family: 'Fredoka One', cursive;
  // font-family: 'Major Mono Display', monospace;
  // font-family: 'Righteous', cursive;
  // font-family: 'Unbounded', cursive;
}

svg.js {
  // font-family: 'Chakra Petch', sans-serif;
  // font-family: 'Fredoka One', cursive;
  // font-family: 'Major Mono Display', monospace;
  font-family: 'Righteous', cursive;
  // font-family: 'Unbounded', cursive;
}

svg.php {
  // font-family: 'Chakra Petch', sans-serif;
  font-family: 'Fredoka One', cursive;
  // font-family: 'Major Mono Display', monospace;
  // font-family: 'Righteous', cursive;
  // font-family: 'Unbounded', cursive;
}

svg.aws {
  // font-family: 'Chakra Petch', sans-serif;
  // font-family: 'Fredoka One', cursive;
  // font-family: 'Major Mono Display', monospace;
  // font-family: 'Righteous', cursive;
  font-family: 'Unbounded', cursive;
}