@import 'vars';
// @import 'animations';
@import 'typography';
@import 'media';

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
}

div {
  box-sizing: border-box;
}

$main-fade-in: 4s;

#main {
  color: $text-color;
  background-color: $background-color;
  height: 100vh;
  overflow: hidden;
  position: relative;
  // width: 100vw;
  box-sizing: border-box;
  opacity: 1;
  // display: flex;
  // align-items: flex-end;

  // @include media-small {
  //   display: flex;
  //   align-items: flex-start;
  // }

}