@use 'sass:list';
@use 'sass:math';
@import 'typography';
@import 'mixins';
@import 'media';

$div-bg: #0b1519BB;
$div-stroke: #165872AA;
$div-accent-stroke: #93d122AA;
$div-btn-bg: #165872AA;
$div-btn-stroke: #fac4ffBC;
$div-btn-active-bg: #eef3b342;
$div-btn-active-stroke: #eef3b3BC;
$text-color: #fac4ff42;
$text-stroke: #f25eff;
$text-active-color: #eef3b342;
$text-active-stroke: #eef3b369;
$text-hover-color: #fde7ffef;
$text-hover-stroke: #22ffc8b8;
$site-title-color: #f25eff;
$site-title-hover-color: #f25eff69;
$site-title-stroke: #5effdc;
$color-none: #0000;

$nav-width: 25rem;
$nav-padding: 2rem;
$nav-width-mobile: 85vw;

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  color: $text-hover-color;
}

* {
  box-sizing: border-box;
}

#main {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

$menu-nav-width: 60px;

.nav-perspective-container {
  position: fixed;
  z-index: 99;
  width: calc(($nav-width + $nav-padding) * 2);
  height: calc(($nav-width + $nav-padding) * 2);
  top: calc((($nav-width + $nav-padding) * -2) + $menu-nav-width);
  // right: 50%;
  right: calc((($nav-width + $nav-padding) * -1));
  // background-color: green;
  perspective: 666px;
  transition: top ($itx-timing * 2) $ease-func;

  @include desktop-rules {
    // top: calc(-100% + 165px);
  }

  .nav-container {
    transform: rotateY(180deg);
    position: absolute;
    width: calc(($nav-width + $nav-padding) * 2);
    height: calc(($nav-width + $nav-padding) * 2);
    top: 0;
    right: 0;
    transform-style: preserve-3d;
    z-index: 100;
    transition: transform ($itx-timing * 2) $ease-func;

    // background-color: #F006;
  }

  &.nav-open {
    top: 0%;

    .nav-container {
      transform: rotateY(-10deg);
    }
  }
}


// Create menu open and close buttons.
// Create a hamburger style using hr tags.
.menu-nav {
  cursor: pointer;
  width: $menu-nav-width;
  height: $menu-nav-width;
  position: absolute;
  left: 50%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 101;
  border: 1px ridge #FFF9;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(7, 4, 57, 1) 25%, rgba(0, 212, 255, 0.5) 100%);


  hr {
    display: block;
    width: 60%;
    height: 3px;
    background-color: #fff;
    border: none;
    margin: 0;
    padding: 0;
  }

  &.menu-open {}

  &.menu-close {
    bottom: initial;
    top: 0;
    left: calc(50% - $menu-nav-width);

    hr {
      position: absolute;
      transform: rotateZ(45deg);

      &:nth-child(2) {
        transform: rotateZ(-45deg);
      }
    }
  }
}

nav {
  // transition: right $itx-timing;
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 99;
  // top: $nav-padding;
  top: calc(50vh - (($nav-width + $nav-padding) / 2));
  // right: initial;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background: linear-gradient(230deg, rgba(7, 4, 57, 1) 25%, rgba(0, 212, 255, 0.95) 80%);
  border-radius: 1rem;
  padding-top: 1rem;

  @include desktop-rules {
    // height: $nav-width;
    top: calc(50vh - (($nav-width + $nav-padding) / 2));
    background: linear-gradient(230deg, rgba(7, 4, 57, 1) 25%, rgba(0, 212, 255, 0.5) 80%);
  }

  svg {
    display: block;
    width: 100%;
    background: linear-gradient(90deg, rgba(7, 4, 57, 0.5) 25%, rgba(0, 212, 255, 0.33) 80%);

    text {
      font-size: 3.5rem;
      height: 2rem;
    }

    .glow {
      transition:
        stroke-width $itx-timing,
        stroke-dasharray $itx-timing,
        stroke-dashoffset $itx-timing,
        opacity $itx-timing;

      stroke-width: 5px;
      fill: none;
      stroke: $site-title-stroke;
      stroke-dasharray: 4 16;
      stroke-dashoffset: 40;
      animation: dash 2s linear forwards infinite;
      $glow-colors: #00d4ff,
      #b739d2,
      #5d22ff;
      opacity: 0.25;

      // Check for .glow-0, .glow-1, .glow-2.
      // Create a stagered animation delay for each.
      @for $i from 0 through 2 {
        &.glow-#{$i} {
          animation-delay: calc(0.33s * $i);
          stroke: list.nth($glow-colors, $i + 1);
        }
      }
    }

    &:hover .glow {
      stroke-width: 2px;
      stroke-dasharray: 6 34;
      stroke-dashoffset: 80;
      opacity: 1;
    }
  }

  hr {
    border: 2px solid;
  }

  .site-title-underline {
    width: 120%;
    margin-left: -20%;
    box-sizing: border-box;

    &.site-title-underline-1 {
      width: 100%;
      margin-left: 0;
      opacity: 0.75;
    }
  }

  .nav-link {
    cursor: pointer;
    font-size: 2rem;
    // background-color: #0F05;
    padding: 0.5rem $nav-padding;
    text-align: right;
    background-color: #0000;
    border-radius: 1rem;
    transition: background-color $itx-timing;

    // Loop over the number of nav links to dynamically set the width.
    @for $i from 0 through 2 {
      &.nav-link-#{$i} {
        width: percentage(math.div((80 - ($i * 20)), 100));

        hr {
          margin-right: -$nav-padding;
          opacity: calc(0.5 - ($i * 0.2));
          margin-top: 20px;
        }
      }
    }

    &.active {
      cursor: default;
      color: #69696969;
      background-color: #0003;

      &:hover {
        background-color: #0003;
      }
    }

    &:hover {
      background-color: #0006;
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}