@import 'media';

$font-size: 4rem;

@include desktop-rules {
  #main .projects nav {
    right: 55rem;

    & svg {
      right: 10rem;

      &.about {
        right: 18rem;
      }

      &.contact {
        right: 17rem;
      }
    }
  }
}

nav {
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  right: 0;
  perspective: 3000px;
  perspective-origin: 50% 40%;
  transition: right 3s;
  // background-color: green;

  svg {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 5rem;
    // background-color: red;
    margin: -0.25rem auto;
    transform: rotateY(-10deg) scale(1.25) translateX(0rem);
    transition: transform 0.25s ease-in-out, right 3s;
    display: block;
    position: absolute;
    right: 3rem;

    &.about {
      width: 13rem;
      bottom: 14rem;
      right: 4.5rem;
    }

    &.projects {
      width: 16rem;
      bottom: 10rem;
    }

    &.contact {
      width: 14rem;
      bottom: 6rem;
    }

    &:hover {
      transform: rotateY(-5deg) scale(1.45) translateX(0rem);
    }

    &.active:hover {
      transform: rotateY(-5deg) scale(1.45) translateX(0rem);
    }

    &.active {
      transform: rotateY(-7deg) scale(1.4) translateX(0rem);
    }
  }

  @include desktop-rules {
    width: 35rem;
    height: 23rem;
    bottom: 5rem;
    right: 10rem;
    // transform: rotateY(-30deg) scale(1) translateX(-20rem);

    svg {
      right: -10rem;
      font-size: 5rem;
      margin: 1.5rem auto;
      transform: rotateY(-30deg) scale(2) translateX(-10rem);

      &.about {
        width: 13rem;
        bottom: 15rem;
        right: -10rem;
      }

      &.projects {
        width: 16rem;
        bottom: 8rem;
      }

      &.contact {
        width: 14rem;
        bottom: 0rem;
      }

      &:hover {
        transform: rotateY(-25deg) scale(2.3) translateX(-10rem);
      }

      &.active:hover {
        transform: rotateY(-25deg) scale(2.3) translateX(-10rem);
      }

      &.active {
        transform: rotateY(-27deg) scale(2.25) translateX(-10rem);
      }
    }
  }
}

$colors: #00ff9f, #00b8ff, #001eff, #bd00ff, #d600ff;
// $colors: #F2385A, #F5A503, #E9F1DF, #56D9CD, #3AA1BF;
// $colors: #6ECBF5, #C252E1, #9777fd, #586AE2, #c23e7d;
$num-links: 3;
$max: length($colors);
$dash: 40;
$dash-gap: 100;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 8s;
$time-step: $time/$max;

@for $item from 1 through $num-links {
  nav svg:nth-child(#{$num-links}n + #{$item}) {

    & .text {
      border: 1px solid green;
      fill-opacity: 0;
      stroke-linejoin: round;
      stroke-dasharray: $dash $dash-space;
      stroke-dashoffset: 0;
      animation: stroke-it $time infinite linear;
      transition: stroke-dasharray 1s, fill-opacity 2s, stroke-width 2s;
      // text-shadow: 0 0 10px rgb(98, 98, 255);

      @for $item from 1 through $max {
        &:nth-child(#{$max}n + #{$item}) {
          $color: nth($colors, $item);
          stroke-width: random(3) + 2;
          stroke: $color;
          fill: $color;
          animation-delay: -($time-step * $item);
        }
      }
    }

    &:hover .text {
      fill-opacity: 0.25;
      stroke-dasharray: 20 80;
      stroke-width: 5;
    }

    &.active:hover .text {
      fill-opacity: 0.25;
      stroke-dasharray: 20 80;
      stroke-width: 5;
    }

    &.active .text {
      fill-opacity: 0.1;
      stroke-dasharray: 10 40;
      // stroke-width: 8;
    }
  }
}

@keyframes stroke-it {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}