:root {
  --primary-color: #1A5276;
  --secondary-color: #D35400;
  --accent-color: #27AE60;

  --primary-bg-color: #F2F3F4;
  --secondary-bg-color: #FCFDFE;

  --primary-text-color: #1A5276;
  --secondary-text-color: #D35400;
  --accent-text-color: #27AE60;

  --border-primary-color: #999;

  --nav-height: 50px;
  --max-width: 960px;

  --pre-appear-inv: translateX(60px) rotateY(20deg) scale(0.7);
  --appear-inv: translateX(0px) rotateY(-10deg)scale(1);
  --pre-appear: translateX(-60px) rotateY(-20deg) scale(0.7);
  --appear: translateX(0px) rotateY(10deg)scale(1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: var(--nav-height) 0 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

#home.section-container {
  margin-top: -5rem;
  margin-bottom: 5rem;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
  /* padding-top: var(--nav-height); */
}

a {
  color: inherit;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.smaller {
  font-size: smaller;
  font-weight: 500;
}

.em {
  font-style: italic;
}

.strong {
  font-weight: 700;
}

code {
  background-color: #282a36;
  color: #f8f8f2;
  padding: 0.2rem 0.4rem;
  margin: 0 0.1rem;
  border-radius: 2px;
}

pre {
  overflow-x: auto;
}

hr.eof {
  border-style: double;
  border-width: unset;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  backdrop-filter: blur(10px);
  z-index: 100;
  border-bottom: 1px solid var(--border-primary-color);
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

nav .menu-toggle {
  display: none;
}

nav .nav-title {
  flex-grow: 1;
  font-weight: 700;
  font-size: 1.25rem;
}

nav .nav-title a {
  text-decoration: none;
}

nav ul {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

nav .nav-title,
nav ul li {
  text-shadow: 0 0 10px #FFF;
}

.section-container {
  /* padding: 2rem 0; */
  min-height: calc(100vh - var(--nav-height));
  scroll-margin-top: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* background-color: #f1f1f1; */
}

.section-container.blog-page>div {
  max-width: 100%;
}

.section-container.blog-page .callout-container {
  padding: 0;
}

.section-container.blog-page .callout-container .callout {
  padding: 0;
}

.hero {
  font-size: 2.5rem;
  border-left: 1px double var(--border-primary-color);
  padding-left: 2rem;
}

.hero h3 {
  font-size: larger;
}

.hero p {
  font-size: smaller;
}

.card-container,
.callout-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.card-container {
  flex-direction: row;
  padding: 2rem 0;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 4px var(--border-primary-color);
  max-width: 30%;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 2px 2px 6px var(--border-primary-color);
}

.card img {
  max-width: 100%;
}

.card .card-description {
  padding: 1rem;
}

.card .card-description p {
  margin: 1rem auto;
}

.card a {
  text-decoration: none;
}

.card time {
  width: 100%;
  display: inline-block;
  text-align: right;
}

.callout.blog {
  flex-direction: column;
}

.callout .callout-description.blog-title {
  font-size: 1.25rem;
  padding: 0.5rem 2rem 0;
  text-align: center;
}

.callout {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  justify-content: center
}

.callout:nth-child(even) {
  flex-direction: row-reverse;
}

.callout .callout-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.callout .callout-description p.description {
  border-left: 1px solid var(--border-primary-color);
  padding: 0 1rem;
}

.callout .callout-images {
  perspective: 600px;
  padding: 1rem;
}

.callout.project .callout-images img {
  transform: var(--pre-appear);
  border-radius: 10px;
  border: 2px solid #FFF;
  box-shadow: 0 0 5px #000;
  max-width: 350px;
  height: auto;
  transition: all 2s ease-in-out;
}

.callout.project .callout-images img.mobile {
  position: absolute;
  bottom: 0;
  left: 0;
}

.callout.project.appear .callout-images img {
  transform: var(--appear);
}

.callout.project:nth-child(even) .callout-images img {
  transform: var(--pre-appear-inv);
}

.callout.project:nth-child(even) .callout-images img.mobile {
  right: 0;
  left: auto;
}

.callout.project.appear:nth-child(even) .callout-images img {
  transform: var(--appear-inv);
}

.callout.split {
  flex-direction: row;
}

.callout.split>div {
  flex-grow: 1;
  max-width: 50%;
  padding: 2rem;
}

.callout.split>div:nth-child(2) {
  border-left: 1px solid var(--border-primary-color);
}

.markdown {
  padding: 2rem;
}

.markdown p,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  padding: 1rem 0;
}

.markdown p {
  line-height: 1.3rem;
}

.markdown ol,
.markdown ul {
  padding: 0 3rem;
}

.markdown li {
  margin: 0.5rem 0;
}

.contact-container {
  font-size: 1.5rem;
  text-align: center;
}

.contact-container p {
  padding: 1rem;
}

footer {
  padding: 1rem;
  text-align: center;
  font-size: smaller;
}

/******************************************
* Media Queries
******************************************/
@media (max-width: 768px) {

  h1 {
    font-size: 2rem;
  }

  /* Add responsive code for the main element */
  main {
    padding: 0 2rem 0;
  }

  .markdown {
    padding: 0;
  }

  .markdown ul,
  .markdown ol {
    padding: 0 1.5rem;
  }

  /* Add responsive code for the nav bar */
  nav {
    /* height: calc(var(--nav-height) + 9rem); */
    height: var(--nav-height);
    overflow: hidden;
    transition: height 0.25s;
  }

  nav.is-active {
    height: calc(var(--nav-height) + 9rem);
  }

  nav .nav-title {
    font-size: 1.25rem;
    position: absolute;
    top: 0.75rem;
    left: 1.5rem;
  }

  nav .nav-title .smaller {
    font-size: 0.75rem;
  }

  nav .menu-toggle {
    display: block;
    position: absolute;
    top: 0.75rem;
    right: 1.25rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
  }

  nav .menu-toggle::before {
    content: "☰";
  }

  nav.is-active .menu-toggle::before {
    content: "✕";
  }

  nav ul {
    position: absolute;
    left: 0;
    display: block;
    top: var(--nav-height);
    width: 100%;
    text-align: center;
  }

  nav ul li {
    background-color: #9993;
    border-bottom: 1px solid var(--border-primary-color);
    display: block;
    height: 3rem;
  }

  nav ul li:first-child {
    border-top: 1px solid var(--border-primary-color);
  }

  nav ul li a {
    display: block;
    padding: 1rem;
    /* text-decoration: none; */
    font-weight: 500;
  }


  .hero {
    font-size: 1.5rem;
    padding-left: 1rem;
  }

  .callout-container {
    padding: 2rem 0;
  }

  .callout-container .callout {
    flex-direction: column;
    padding: 3rem 0;
  }

  .callout-container .callout .callout-description {
    padding: 1rem 0;
  }

  .callout-container .callout.project .callout-images img {
    max-width: 100%;
    transform: var(--pre-appear);
  }

  .callout-container .callout.project .callout-images img.mobile {
    bottom: 0;
    left: 0;
  }

  .callout-container .callout.project.appear .callout-images img {
    transform: var(--appear);
  }

  .callout-container.split {
    padding: 0;
  }

  .callout-container .callout.split {
    flex-direction: column;
    padding: 0;
  }

  .callout-container .callout.split>div {
    max-width: 100%;
    padding: 1rem;
  }

  .callout-container .callout.split>div:nth-child(2) {
    border-left: none;
    border-top: 1px solid var(--border-primary-color);
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    max-width: none;
  }

  .blogs-page .page-body {
    padding: 4rem 0;
  }

  .blog.callout .callout-images img {
    max-width: 100%;
    height: auto;
  }

  .contact-container {
    font-size: 1.25rem;
  }
}