$box-glow-size: 10px;
$text-glow-size: 10px;
$glow-timing: 30s;

@mixin box-callout-glow-animation {
  animation-duration: $glow-timing;
  animation-name: box-glow, callout-glow;
  animation-iteration-count: infinite;
}

@mixin box-glow-animation {
  animation-duration: $glow-timing;
  animation-name: box-glow;
  animation-iteration-count: infinite;
}

@mixin bg-glow-animation {
  animation-duration: $glow-timing;
  animation-name: bg-glow;
  animation-iteration-count: infinite;
}

@mixin callout-glow-animation {
  animation-duration: $glow-timing;
  animation-name: callout-glow;
  animation-iteration-count: infinite;
}

@keyframes callout-glow {
  from {
    background-color: #322;
  }

  33% {
    background-color: #232;
  }

  66% {
    background-color: #223;
  }

  to {
    background-color: #322;
  }
}

@keyframes bg-glow {
  from {
    background-color: #100;
  }

  33% {
    background-color: #010;
  }

  66% {
    background-color: #001;
  }

  to {
    background-color: #100;
  }
}

@keyframes box-glow {
  from {
    border-bottom: 1px solid #F00;
    box-shadow: 0 0 $box-glow-size #F00;
  }

  33% {
    border-bottom: 1px solid #0F0;
    box-shadow: 0 0 $box-glow-size #0F0;
  }

  66% {
    border-bottom: 1px solid #00F;
    box-shadow: 0 0 $box-glow-size #00F;
  }

  to {
    border-bottom: 1px solid #F00;
    box-shadow: 0 0 $box-glow-size #F00;
  }
}

@keyframes text-glow {
  from {
    color: #F00;
    text-shadow: 0 0 $box-glow-size #F00;
  }

  33% {
    color: #0F0;
    text-shadow: 0 0 $box-glow-size #0F0;
  }

  66% {
    color: #00F;
    text-shadow: 0 0 $box-glow-size #00F;
  }

  to {
    color: #F00;
    text-shadow: 0 0 $box-glow-size #F00;
  }
}