@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&family=Kdam+Thmor+Pro&family=Playfair+Display&family=Source+Code+Pro&display=swap');

body {
  font-family: 'Kanit', sans-serif;
}

h1,
.h1 {
  font-weight: 400;
}

footer,
code,
.t-code {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: -0.1rem;
}

.t-biz {
  font-family: 'Playfair Display', serif;
}

.t-music {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

h1 {
  & .t-code {
    font-size: 2.1rem;
  }

  & .t-music {
    font-size: 1.9rem;
  }
}

p {
  & .t-code {
    font-size: 1.05rem;
  }

  & .t-music {
    font-size: 0.95rem;
  }
}